body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.banner {
	padding: 1rem;
	background-color: #eee;
    text-align: center;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 100px;
}

.article {
    grid-column: 1/2;
}

.list {
    grid-column: 2/3;
}

h2 {
	color: navy;
	text-align: star;
    grid-column: 1/3;
}

article p {
	text-align: justify;
}

.callout {
	color: #ffffff;
	background-color: #702963;
    padding: 1rem;
    grid-column: 1/3;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}