:root {
    --primary-color: #ffffff;
    --secondary-color: #87CEEB;
    --tertiary-color: #98FB98;
    --accent1-color: #FFD700;
    --accent2-color: #FFA07A;

    --heading-font: "Fredoka", sans-serif;
    --text-font: "Roboto", sans-serif;
    --paragraph-font: "Lato", sans-serif;

    --nav-background-color: #FFA07A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display:  flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    background-color: var(--accent2-color);
    padding: 2% 4%;
}

h1 {
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 600;
}

header h1 a {
    text-decoration: none;
    color: inherit;
}

nav {
	margin: 0.5rem auto;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    color: black;
}

#menu.open::before {
    content: "X";
    color:black;
    font-size: 1.5rem; 
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
    width: 100%;
	background-color: var(--primary-color);
    border-radius: 8px;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: black;
    font-family: var(--paragraph-font);
    font-weight: 600;
}

.open a {
	display: block;
}

#footer {
	background-color: var(--accent2-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
    font-size: 15px;
	color: black;
    padding: 20px;
    text-align: center;
    font-family: var(--paragraph-font);
}

@media screen and (min-width: 1024px) and (max-width: 1920px) {

    header {
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr 1fr;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: var(--accent2-color);
        grid-column: 3/5;
    }

    .navigation a {
        display: block;
        padding: 0;
        color: black;
        font-size: 20px;
        text-transform: uppercase;
    }

    .navigation a:hover {
        color: black;
        text-decoration: underline;
    }

}