@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('base.css');

main {
    display: flex;
    flex-direction: column;
}

.banner {
    background-color: var(--primary-color);
}

img {
    width: 100%;
    height: auto;
}

.divForm {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--secondary-color);
    padding: 20px;
    width: 100%;
    border-radius: 8px;
}

.divForm label {
    display: block;
    padding-bottom: 5px;
    font-family: var(--text-font);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
}

.divForm h2 {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.radio {
    margin-bottom: 15px;
}

.radio input {
    margin-bottom: 5px;
    width: 10%;
    height: 12px;
}

input {
    margin-bottom: 20px;
    width: 100%;
    height: 44px;
    border-radius: 8px;
    border: none;
    font-family: var(--paragraph-font);
    padding-left: 5px; 
}

.button {
    background-color: var(--tertiary-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 0;
}

.div3 {
    display: grid;
    justify-items: center;
    row-gap: 15px;
    background-color: var(--primary-color);
    padding-top: 20px;
}

.section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 20px;
}

section {
    display: grid;
    justify-items: center;
    text-align: center;
    row-gap: 10px;
    background-color: var(--accent1-color);
    width: 180px;
    height: auto;
    padding: 10px;
    border-radius: 3%;
}

h2, h3 {
    font-family: var(--paragraph-font);
}

h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-family: var(--paragraph-font);
}

input::placeholder {
    font-family: var(--paragraph-font);
    padding-left: 5px;
}

.ico{
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    main {
        background-color: var(--secondary-color);
        row-gap: 20px;
        margin: 0 auto;
    }
    
    .divForm {
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
        width: 80%;
        margin: 0 auto;
    }

    .divForm h2 {
        font-size: 18px;
    }

    form {
        align-content: center;
    }
    
    .section-container {
        padding-top: 20px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
    section {
        width: 180px;        
    }

    .div3 {
        row-gap: 0;
    }

    .div3 h2 {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1920px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr 1fr;
        grid-template-rows: 1fr;
        padding: 3% 4% 2% 4%;
    }

    .banner {
        grid-column: 1/4;
        align-content: center;
    }

    .divForm {
        grid-column: 4/5;
    }

    .divForm h2 {
        font-size: 18px;
    }

    .div3 {
        padding-top: 50px;
        grid-column: 1/5;
    }

    .div3 h2 {
        font-size: 24px;
    }

    .section-container {
        padding-top: 20px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }

    section {
        display: grid;
        align-items: center;
        justify-items: center;
        text-align: center;
        background-color: var(--accent1-color);
        width: 200px;
        height: 200px;
        padding: 10px;
        border-radius: 3%;
    }

    section:hover {
        transform: scale(1.1);
        transition: transform 0.4s ease;
    }

    .radio label {
        padding-left: 0px;
    }
    
    .radio input {
        margin-bottom: 0;
        width: 5%;
        height: 12px;
    }
    
    input {
        margin-bottom: 20px;
    }
}