@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('base.css');

header{
    background-color: var(--accent1-color);
}

#footer {
    background-color: var(--accent1-color);
}

main {
    padding-top: 20px;
    background-color: var(--accent2-color);
}

.banner img {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 380px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding: 20px 20px 0px 20px ;
}

.card h2 {
    margin-top: 0;
    font-family: var(--heading-font);
    font-size: 25px;
    font-weight: 600;
}

.card p {
    color: #000;
    font-size: 20px;
    font-family: var(--paragraph-font);
}

.card img {
    width: 180px;
    height: auto;
}

.card-welcome {
    display: grid;
    row-gap: 10px;
}

.log-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}

.log-container h2 {
    font-family: var(--paragraph-font);
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.log-container label {
    display: block;
    padding-bottom: 5px;
    font-family: var(--paragraph-font);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
}

.log-container input {
    margin-bottom: 20px;
    width: 100%;
    height: 44px;
    border-radius: 8px;
    border: none;
}

#indications {
    width: 100%;
    border-radius: 8px;
    border: none;
}

#add {
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 0;
    background-color: var(--secondary-color);
    text-transform: uppercase;
    height: 44px;
    border-radius: 8px;
    font-family: var(--paragraph-font);
    border: none;
    width: 100%;
}

input {
    font-family: var(--paragraph-font);
    padding-left: 5px; 
}

input::placeholder {
    font-family: var(--paragraph-font);
    padding-left: 5px;
}

textarea {
    font-family: var(--paragraph-font);
    padding-left: 5px;
    padding-top: 5px;
}

textarea::placeholder {
    font-family: var(--paragraph-font);
    padding-left: 5px;
    padding-top: 5px;
}

#card-container {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    column-gap: 10px;
    row-gap: 10px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: none;
}

#card-container.show {
    display: grid;
}

.card-entry {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.card-content {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding: 20px ;
    font-family: var(--paragraph-font);
    font-weight: 400;
    row-gap: 10px;
}

.card-content p {
    max-width: 100%;
}

.delete-button {
    margin-top: 20px;
    background-color: var(--secondary-color);
    padding: 5px 10px;
    border: none;
    color: black;
    border-radius: 8px;
    font-size: 20px;
    font-family: var(--paragraph-font);
    font-weight: 600;
}

.delete-button:hover {
    color: white;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    main {
        row-gap: 20px;
        margin: 0 auto;
    }

    .log-container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
        width: 70%;
        margin: 0 auto;
    }

    .card {
        display: grid;
        max-width: 100%;
        margin: 10px;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        padding-bottom: 20px;
    }


}

@media screen and (min-width: 1024px) and (max-width: 1920px){

    .navigation {
        background-color: var(--accent1-color);
    }

    main {
        display: grid;
        grid-template-columns: 1fr 0.5fr 0.3fr 0.8fr;
        align-items: center;
        padding-top: 0;
    }

    .card {
        display: grid;
        width: 90%;
        height: 50%;
        grid-column: 2/3;
        align-content: space-around;
        justify-items: center;
    }

    .card-welcome h2 {
        font-size: 30px;
    }

    .card-welcome p {
        font-size: 20px;
    }

    .card img {
        width: 150px;
        height: auto;
    }
    
    .log-container {
        grid-column: 4/5;
        padding-right: 50px;
    }

    .log-container h2 {
        font-size: 22px;
    }

    #card-container {
        grid-column: 1/5;
        width: 100%;
        grid-template-columns: repeat(4, 0.5fr);
        padding-right: 50px;
        padding-left: 50px;
    }

    .card-content {
        max-width: 96%;
        padding: 15px ;
        font-size: 20px;
        row-gap: 5px;
    }
    

    .banner img {
        display: block;
        width: 77%;
        height: auto;
    }
}
