* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --blue: #03A2FC;
    --lightblue: #ade8f4;
    --yellow: #ffd60a;
    --white: #ffffff;
    --black: #000000;
}

header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    height: 100px;
}

h1 {
    font-weight: 700;
    font-size: 30px;
}

h2 {
    font-weight: 700;
    font-size: 25px;
}

header div {
    background-color: var(--blue);
    width: 100%;
    height: 3px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero div {
    background-color: var(--lightblue);
    width: 100%;
    height: 10px;
    margin-top: -5px;
}

.data, .weather {
    display: grid;
    width: 100%;
    gap: 20px;
    justify-items: center;
}

.weather {
    padding-bottom: 50px;
}

.weather img {
    width: 100px;
    height: auto;
}

#result {
    font-weight: 400;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.title {
    font-weight: bold;
    margin-right: 5px;
}

footer {
	background-color: var(--lightblue);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
    font-size: 15px;
	color: var(--black);
    padding: 20px;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    
    body {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr auto;
    }

    .hero {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    header {
        grid-column: 1/4;
        grid-row: 1/2;
        z-index: 3;
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-column: 1/4;
        grid-row: 2/3;
        column-gap: 10px;
        row-gap: 10px;
    }

    footer {
        grid-column: 1/4;
        grid-row: 3/4;
        z-index: 3;
        background-color: var(--lightblue);
    }

    .data, .weather {
        z-index: 2;
        grid-template-rows: 0.5fr 2fr;
        background-color: rgba(243, 239, 239, 0.8);
        width: 300px;
        align-items: center;
        gap: 0 ;
    }

    h2 {
        padding-left: 10px;
        margin-right: 70px;
        align-content: center;
        width: 100%;
        background-color: var(--yellow);
        margin-top: 10px;
        height: 50px;
        font-size: 22px;
    }

    li {
        font-size: 16px;
    }

    .data {
        grid-column: 1/2;
        height: 300px;
        margin-top: 80px;
        margin-left: 80px;
    }

    .weather {
        grid-column: 3/4;
        grid-template-columns: 1fr;
        height: 220px;
        row-gap: 15px;
        padding-bottom: 0;
        margin-right: 80px;
        margin-top: 380px;
    }

    .weather h2::after {
        content: "‎  ‎ ⛅";
    }

    .weather img {
        display: none;
        width: 50px;
        height: auto;
    }

    .weather ul {
        grid-column: 1/3;
        grid-row: 2/3;
    }
}

